<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%# <%= yield %>
    <h1>New Referral for DJ Dev</h1>
    <p>Your recieved the following message:</p>
    <p>Subject: <%= subject %> <p>
    <p>Message: <%= body %></p>
  </body>
</html>
